.rowContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 5vh;
}

.rowHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2vh;
}

.rowHeader > h3 {
    color: var(--title-color);
}

.rowHeader > button {
    border: none;
    color: var(--accent-color);
    font-weight: bold;
    background-color: var(--background-color);
    font-size: 1rem;
}

.booksRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 0.8vw;
    padding-left: 0px;
}

.booksRow li {
    list-style-type: none;
}

.booksRow li a {
    text-decoration: none;
}