.cardContainer {
    display: flex;
    flex-direction: row;
    column-gap: 1vw;
    background-color: var(--secondary-color);
    border-radius: 0.5vw;
    padding: 1vw;
    border: 1px solid var(--text-color);
}

.bookCover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 10vh;
    border-radius: 0.5vw;
    width: auto;
}

.bookInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.bookInfo_text > h4 {
    color: var(--title-color);
    margin: 0%;
    font-size: 0.8rem;
}

.bookInfo_text > h5 {
    color: var(--text-color);
    font-size: 0.6rem;
    margin: 0%;
}

.bookInfo_price {
    color: var(--primary-color);
    font-weight: bold;
    margin: 0%;
}