:root {
    --background-color: white;
    --primary-color: #6251DD;
    --secondary-color: #F4F4FF;
    --accent-color: #EF6B4A;
    --title-color: #090937;
    --text-color: rgba(9, 9, 55, 0.6);
    --banner-background: #090937;
    --banner-text: white;
    --banner-title: #F0B861;
    font-family: Manrope;
}