.categoryContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: stretch;
    margin: var(--margins);
}

.categoryHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2vh;
}

.categoryHeader > h3 {
    color: var(--title-color);
}

.categoryHeader > button {
    border: none;
    color: var(--accent-color);
    font-weight: bold;
    background-color: var(--background-color);
    font-size: 1rem;
}

.booksRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 0.8vw;
}

.booksRow > li {
    list-style-type: none;
}